<!doctype html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title>File stats for {{ filename }}</title>
</head>
<body>
    <h1>{{ filename }}</h1>
    <p><small>Path: {{ path }}</small></p>
    <p>Total Downloads: {{ downloads }}</p>
</body>
</html>